.section-line {
	border-bottom: 1px solid #a79d5d;
	/*text-transform: uppercase;*/
	/*color: #828282;*/
}

.icon, .iconT{
  height: 30px;
  width: 30px;
  padding: 3px;
	margin-top: 10px;
}

.navList {
	padding: 15px 90px 0px 90px;
	text-transform: uppercase;
	font-weight: bold;
}

.navRigth{
	padding: 19px 10px 10px 10px;
}

a{
	padding: 0px !important;
	color: #a79d5d !important;
}

.imgBanner {
	width: 1140px;
	height: 363px !important;
}

.logo{
	padding-left: 20px;
}

p {
	padding-top: 20px;
}

.imgPromo{
	height: 200px !important;
	margin-left: 25px;
	margin-top: 15px;
}

.cart{
	font-size: 33px;
	padding-top: 20px;
	/*padding-left: 90px;*/
}

.search {
	margin-top: 20px !important;
}

.navLogo {
	margin-top: 20px;
	margin-bottom: 10px;
}

.promociones {
	margin-top: 20px;
	color: #a79d5d;
}

.tittle {
	text-transform: uppercase;
	padding-bottom: 20px;
}
.promos {
	/*background-color: rgba(167, 157, 93, 0.24);*/
	border: 2px solid rgba(167, 157, 93, 0.28);
	margin-left: 5px;
	margin-right: 5px;
	width: 260px !important;
}

.desc{
	position: absolute;
	width: 60px;
	background-color: rgb(232, 172, 57);
	color: white;
	margin-left: 170px;
	text-align: center;
}
