body{
	background-color: rgba(126, 122, 102, 0.06) !important;
}
.section-line {
	border-bottom: 1px solid #a79d5d;
	/*text-transform: uppercase;*/
	/*color: #828282;*/
}

.icon, .iconT{
  height: 30px;
  width: 30px;
  padding: 3px;
	margin-top: 10px;
}

.navbar-default {
	border: none !important;
}

.navList {
	padding: 15px 100px 15px 90px;
	text-transform: uppercase;
	font-weight: bold;

}

.navList:hover{
	background-color: rgba(196, 192, 138, 0.33);
}

.navRigth{
	padding: 19px 10px 10px 10px;
}

a{
	padding: 0px !important;
	color: #a79d5d !important;

}

.imgBanner {
	width: 1140px;
	height: 363px !important;
}

.logo{
	padding-left: 20px;
	padding-top: 10px;
}

.imgPromo{
	height: 200px !important;
	margin-left: 55px;
	margin-top: 15px;
}

.cart{
	font-size: 33px;
	color: rgb(101, 91, 47);
	padding-top: 25px;
	padding-rightx: 15px;

}

.search {
	margin-top: 30px !important;
}

.comments{
	width: 500px;
	height: 370px;
}


.navLogo {
	margin-top: 20px;
	margin-bottom: 10px;
	background-color: rgba(222, 191, 61, 0.6);
	border-radius: 10px;
}

.promociones {
	margin-top: 20px;
	color: #a79d5d;
}

.tittle {
	text-transform: uppercase;
	padding-bottom: 20px;
	color: #a79d5d;

}
.promos {
	/*border: 2px solid rgba(167, 157, 93, 0.28);*/
	background-color: rgba(88, 85, 77, 0.18);
	box-shadow: 0px 0px 6px rgba(27, 27, 28, 0.46);
	margin-left: 8px;
	margin-right: 8px;
	width: 260px !important;
	border-radius: 10px;
	padding-bottom: 15px;
}

.desc{
	position: absolute;
	width: 60px;
	background-color: rgb(232, 83, 57);
	color: white;
	margin-top: 5px;
	margin-left: 170px;
	text-align: center;
}
.precio{
	font-size: 18px;
	color: rgb(232, 83, 57);
	margin: 20px 0px 10px 0px;
	font-weight: bold;
}

.agregar{
	margin-left: 40px;
	background-color: rgb(222, 191, 61) !important;
	color: white !important;
	font-size: 16px !important;
}

.dropdown-menu{
	padding: 20px !important;
	width: 200px;
	position: static;
}

.dropdown-toggle {
	margin-top: 15px;
}

.formConsulta, .boxFacebook{
	margin-top: 25px;
}
.formConsulta1{
	background-image: url('../images/Primera.jpg');
	padding: 15px;
}
label{
	color: white;
	font-size: 20px;
}
.carousel{
	box-shadow: 0px 0px 8px 8px rgba(41, 39, 33, 0.2);
}

footer{
	background-color: rgba(222, 191, 61, 0.6);
	color: #817944;
	margin-top: 25px;
	margin-bottom: 25px;
	padding: 10px 0px 10px 0px;
	font-size: 15px;
	border-radius: 10px;
}

li {
	list-style-type: none;
}

.listFooter>li{
	padding-top: 20px;
}
.logoFooter{
	padding-left: 100px;
	padding-top: 10px;
}
